<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>64362099756-bgdrpfr3sr347e49pl3qcib28lidm3pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64362099756-bgdrpfr3sr347e49pl3qcib28lidm3pd</string>
	<key>API_KEY</key>
	<string>AIzaSyAns2LPciyvETfy3cQC7d3aznOAfCr_7Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>64362099756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jackknight.Xplore</string>
	<key>PROJECT_ID</key>
	<string>xplor-66fa1</string>
	<key>STORAGE_BUCKET</key>
	<string>xplor-66fa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64362099756:ios:bafa655d0990c65c</string>
	<key>DATABASE_URL</key>
	<string>https://xplor-66fa1.firebaseio.com</string>
</dict>
</plist>